<template>
    <div class="container-fluid contacts">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Contacts</div>

                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th @click="changeOrder('name')">Name <sort-icon-component v-if="sortBy=='name'" :desc="sortDesc"></sort-icon-component> </th>
                                    <th @click="changeOrder('email')">Email <sort-icon-component v-if="sortBy=='email'" :desc="sortDesc"></sort-icon-component></th>
                                    <th @click="changeOrder('age')">Age <sort-icon-component v-if="sortBy=='age'" :desc="sortDesc"></sort-icon-component></th>
                                    <th @click="changeOrder('eyeColor')">Eye Color <sort-icon-component v-if="sortBy=='eyeColor'" :desc="sortDesc"></sort-icon-component></th>
                                    <th @click="changeOrder('gender')">Gender <sort-icon-component v-if="sortBy=='gender'" :desc="sortDesc"></sort-icon-component></th>
                                    <th @click="changeOrder('company')">Company <sort-icon-component v-if="sortBy=='company'" :desc="sortDesc"></sort-icon-component></th>
                                    <th @click="changeOrder('phone')">Phone <sort-icon-component v-if="sortBy=='phone'" :desc="sortDesc"></sort-icon-component></th>
                                    <th @click="changeOrder('address')">Address <sort-icon-component v-if="sortBy=='address'" :desc="sortDesc"></sort-icon-component></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="row in records">
                                    <td>{{row.name}}</td>
                                    <td>{{row.email}}</td>
                                    <td>{{row.age}}</td>
                                    <td>{{row.eyeColor}}</td>
                                    <td>{{row.gender}}</td>
                                    <td>{{row.company}}</td>
                                    <td>{{row.phone}}</td>
                                    <td>{{row.address}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td @click="loadMore" v-if="hasMore == true" colspan="8"><button class="btn btn-secondary">Load More</button></td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['contacts'],
        mounted() {
            this.records = this.contacts.dataset;
            this.hasMore = this.contacts.hasMore;
        },

        data()  {
            return {
                sortBy: 'name',
                sortDesc: 0,
                page: 1,
                hasMore: false,
                records: [],
                
            }
        },

        methods: {
            changeOrder(column) {
                                
                if(this.sortBy == column)
                    this.sortDesc = ! this.sortDesc;
                
                this.sortBy = column;
                
                let dataset = {
                    params: {
                        action: 'sort', 
                        sortBy: this.sortBy, 
                        sortDesc: this.sortDesc,
                        page: this.page,
                    }
                }
                axios.get('#', dataset).then( r => {
                    this.records = r.data.dataset;
                })
            },

            loadMore() {
                                
                this.page++;
                
                let dataset = {
                    params: {
                        action: 'loadMore', 
                        sortBy: this.sortBy, 
                        sortDesc: this.sortDesc,
                        page: this.page,
                    }
                }
                axios.get('#', dataset).then( r => {
                    let o = this.records;
                    r.data.dataset.forEach( a => {
                        o.push(a);
                    });
                    this.records = o;

                    this.hasMore = r.data.hasMore;
                })
            }
        }
    }
</script>
