<template>
    <span>
        <i v-if="desc==true" class="fas fa-caret-up"></i>
        <i v-if="desc==false" class="fas fa-caret-down"></i>
    </span>
</template>

<script>


    export default {
        props: ['desc'],
        
    }
</script>
